
 .home{
    background-color:transparent;
  
    /* Half height */
    height: 100vh;
    position: relative;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }  




  .nav-img{
      height: 30px;
      width: 30px;
      margin-right: 20px;
  }


  .footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 70px;
  }


/*Home Screen*/



@media only screen and (max-width: 600px) {
    

    .hi{
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 50px;
        font-size: 25px;
    }

    .greet{
        font-family: sans-serif;
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 30px;
        font-size: 35px;
    }

    .foot{
        height: 30px;
        width: 30px;
        margin-right: 10px;
    }

    .footer {
        height: 120px;
      }

  }


  @media only screen and (min-width: 601px) {

    .hi{
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 100px;
        font-size: 30px;
    }

    .greet{
        font-family: sans-serif;
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 20px;
        font-size: 45px;
    }

    .foot{
        height: 30px;
        width: 30px;
        margin-right: 10px;
    }

    

  }


/*Projects Section Start Here*/

.projects{
    background-color:white;
  
    /* Half height */
    height: 100vh;
    position: relative;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}







